@font-face {
  font-family: MontserratAlternates;
  src: url(./MontserratAlternates-Medium.ttf) format('truetype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: MontserratAlternates;
  src: url(./MontserratAlternates-Bold.ttf) format('truetype');
  font-weight: bold;
  font-display: swap;
}
